.headroom, .animated {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    -webkit-animation-duration: .60s !important;
    animation-duration: .60s !important;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
}
.headroom--unpinned {
    top: -80px;
    -webkit-transition: .25s;
    -o-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
    -webkit-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    transform: translateY(-80px);
}

.headroom--pinned {
    top: 0;
    transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);

    -webkit-transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}